<template>
  <router-view/>
  <ui-toast />
</template>
<script>
import UIToast from './components/UI/UIToast.vue';
export default {
  name: 'App',
  components: {
    'ui-toast': UIToast
  }
}
</script>