<template>
  <div class="flex bg-blue-200 w-full p-3 items-center justify-between">
    <p class="text-blue-500 font-bold text-xl">Clients</p>
    <ui-button label="New Client" @click="showClientCreationModalFn" />
  </div>
  <ui-table :items="clients" @edit="showClientEditModalFn" @delete="deleteClientFn" />
  <ui-modal v-model:modalState="modalState">
    <client-form-title :title="editingClient ? 'Edit Client':'Add New Client'" />
    <client-form 
      @cancel="modalState = false" 
      @submit="submitFn" 
      @delete="deleteClientOnEditFn" 
      :providers="providers" 
      :createProviderFn="onCreatedProviderFn" 
      :editingClient="editingClient" 
      :clientToEdit="clientToEdit" 
      :editProviderFn="editProviderFn"
      :deleteProviderFn="deleteProviderFn"
    />
  </ui-modal>
  <ui-confirmation 
    v-if="confirmationState.show" 
    :actionLabel="confirmationState.actionText" 
    :callbackFn="confirmationState.callback" 
    :params="confirmationState.params" 
    @cancel="confirmationHandlerFn(false, '', null, null)" 
  />
</template>
<script>
import { onMounted, reactive, ref } from '@vue/runtime-core';
import UIBUtton from "../components/UI/UIButton.vue";
import UITable from "../components/UI/UITable.vue";
import { makeRequest } from '../utils/ApiUtils';
import UIModal from '../components/UI/UIModal.vue';
import UIConfirmation from '../components/UI/UIConfirmation.vue';
import ClientForm from '../components/Client/ClientFormData.vue';
import ClientFormTitle from '../components/Client/ClientFormTitle.vue';
import { setToastStatus } from '../hooks/useToast.js';

export default {
  components: {
    'ui-button': UIBUtton,
    'ui-table': UITable,
    'ui-modal': UIModal,
    'ui-confirmation': UIConfirmation,
    'client-form': ClientForm,
    'client-form-title': ClientFormTitle
  },
  setup() {
    const clients = ref([]);
    const providers = ref([]);
    const modalState = ref(false);
    //
    const editingClient = ref(false); 
    const clientToEdit = ref(null);
    //
    const confirmationState = reactive({
      show: false,
      actionText: '',
      callback: null
    });
    const confirmationHandlerFn = (show, text, cb, params) => {
      confirmationState.show = show;
      confirmationState.actionText = text;
      confirmationState.callback = cb;
      confirmationState.params = params;
    }

    onMounted(async () => {
      const clientsRequest = await makeRequest('GET', 'clients');
      clientsRequest.ok && (clients.value = clientsRequest.payload);
      const providersRequest = await makeRequest('GET', 'providers');
      providersRequest.ok && (providers.value = providersRequest.payload);
    });
    const showClientCreationModalFn = () => {
      editingClient.value = false;
      modalState.value =  true;
    }
    const showClientEditModalFn = (client) => {
      editingClient.value = true;
      clientToEdit.value = client;
      modalState.value =  true;
    }
    const createNewClientFn = async (client) => {
      const creationRequest = await makeRequest('POST', 'client', client);
      if (creationRequest.ok) {
        clients.value.push(creationRequest.payload);
        setToastStatus(true, 'success', 'Client Created!');
        modalState.value = false;
      } else {
        setToastStatus(true, 'error', 'Error Creating Client!');
      }
    }
    const onCreatedProviderFn = async (name) => {
      const creationProviderRequest = await makeRequest('POST', 'provider', { name });
      if (creationProviderRequest.ok ) {
        providers.value.push(creationProviderRequest.payload);
        setToastStatus(true, 'success', 'Provider Created!');
      } else {
        setToastStatus(true, 'eror', 'Error Creating Provider!');
      }
    }
    const editClientFn = async (client) => {
      const editionRequest = await makeRequest('PATCH', `client/${clientToEdit.value._id}`, client);
      if (editionRequest.ok) {
        const i = clients.value.findIndex(el => el._id === clientToEdit.value._id);
        clients.value[i] = editionRequest.payload;
        modalState.value = false;
        setToastStatus(true, 'success', 'Client Edited!');
      } else {
        setToastStatus(true, 'error', 'Error Editing Provider!');
      }
    }
    const submitFn = async (client) => {
      if (editingClient.value) await editClientFn(client);
      else await createNewClientFn(client); 
      clientToEdit.value = null;
    }
    
    const deleteClientFn = async (id) => {
      confirmationHandlerFn(!confirmationState.show, 'delete a Client', deleteClientFn, { payload: id });
      if (confirmationState.show) return;
      //
      const deleteRequest = await makeRequest('DELETE', `client/${id}`);
      if (deleteRequest.ok ) { 
        clients.value = [...clients.value.filter(el => el._id !== id)];
        setToastStatus(true, 'success', 'Client Deleted!');
      } else {
        setToastStatus(true, 'error', 'Error Deleting Client!');
      }
      //
      confirmationHandlerFn(false, '', null, null);
    }
    
    const deleteClientOnEditFn = async () => {
      const { _id:id } = clientToEdit.value;
      await deleteClientFn(id);
      clientToEdit.value = null;
      modalState.value = false;
    }

    const editProviderFn = async (id, name) => {
      const editRequest = await makeRequest('PATCH', `provider/${id}`, { name });
      if (editRequest.ok) {
        const i = providers.value.findIndex(el => el._id === id);
        providers.value[i].name = name;
        clients.value.map(client => client.providers.map(provider => {
          if (provider._id === id) provider.name = name;
          return provider;
        }));
        setToastStatus(true, 'success', 'Provider Edited!');
      } else {
        setToastStatus(true, 'error', 'Error Editing Provider!');
      }
    }

    const deleteProviderFn = async (id) => {
      confirmationHandlerFn(!confirmationState.show, 'delete a Provider', deleteProviderFn, { payload: id });
      if (confirmationState.show) return;
      //
      const deleteRequest = await makeRequest('DELETE', `provider/${id}`);
      if (deleteRequest.ok) {
        providers.value = [...providers.value.filter(el => el._id !== id)];
        clients.value = [...clients.value.map(client => {
          client.providers = [...client.providers.filter(provider => provider._id !== id)];
          return client;
        })];
        setToastStatus(true, 'success', 'Provider Deleted!');
      } else {
        setToastStatus(true, 'error', 'Error Deleting Provider!');
      }
      //
      confirmationHandlerFn(false, '', null, null);
    }

    return { 
      clients,
      modalState,
      showClientCreationModalFn,
      providers,
      onCreatedProviderFn,
      editingClient,
      clientToEdit,
      showClientEditModalFn,
      submitFn,
      deleteClientFn,
      deleteClientOnEditFn,
      editProviderFn,
      deleteProviderFn,
      confirmationState,
      confirmationHandlerFn
    }
  },
}
</script>
