<template>
  <p class="text-blue-500 font-bold text-2xl w-full border-b border-gray-400 p-4"> {{ title }} </p>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Title'
    }
  },
  setup() {
    
  },
}
</script>
<style scoped>

</style>