<template>
  <form class="p-5 mx-auto overflow-y-scroll">
    <div class="form-row">
      <label for="name" class="label">Name</label>
      <input type="text" name="name" class="input" v-model="formData.name">
      <p class="error-message" v-if="validations.name"> {{ validations.name }} </p>
    </div>
    <div class="form-row">
      <label for="email" class="label">Email</label>
      <input type="text" name="email" class="input" v-model="formData.email">
      <p class="error-message" v-if="validations.email"> {{ validations.email }} </p>
    </div>
    <div class="form-row">
      <label for="phone" class="label">Phone</label>
      <input type="text" name="phone" class="input" v-model="formData.phone">
      <p class="error-message" v-if="validations.phone"> {{ validations.phone }} </p>
    </div>
    <div class="form-row">
      <label for="provider" class="label">Provider</label>
      <input type="text" name="provider" class="input" v-model="providerName">
      <ui-button label="Add Provider" @click="onCreateProviderFn" />
    </div>
    <div class="form-row">
      <div style="min-width: 100px;"></div>
      <div class="border border-gray-400 px-2 py-3 rounded-md w-full">
        <div class="w-full my-2" v-for="provider, i in providers" :key="provider._id">
          <div class="flex space-x-2" v-if="editingProviderOnIndex === i">
            <input type="text" name="name" class="input" v-model="providerNewName">
            <ui-button label="Cancel" @click="editingProviderOnIndex = null" />
            <ui-button label="Save" @click="renameProviderFn(provider._id)" />
          </div>
          <div class="flex items-center my-3" v-else>
            <ui-checkbox @add="addClientSelectedProviderFn(provider._id)" @remove="removeClientSelectedProviderFn(provider._id)" :itemId="provider._id" :selecteds="clientProviders" />
            <p class="flex-grow"> {{ provider.name }} </p>
            <p>
              <fa-icon class="cursor-pointer" :icon="['fa', 'edit']" @click="editingProviderOnIndex = i"></fa-icon>
              <span class="mx-2">-</span>
              <fa-icon class="cursor-pointer" :icon="['fa', 'trash']" @click="deleteProviderFn(provider._id)"></fa-icon>
            </p>
          </div>
        </div>
        
      </div>
      <div class="pl-28"></div>
    </div>
    <div class="flex space-x-2 mt-6">
      <ui-button label="Delete" @click="$emit('delete')" v-if="editingClient" color="error" />
      <div class="flex-grow"></div>
      <ui-button label="Cancel" @click="$emit('cancel')" />
      <ui-button :label="editingClient ? 'Edit Client':'Add Client'" @click="submitFn" color="action"  />
    </div>
  </form>
</template>
<script>
import { onMounted, reactive, ref, watch } from 'vue';
import UIButton from '../UI/UIButton.vue';
import UICheckbox from '../UI/UICheckbox.vue';
import { setToastStatus } from '../../hooks/useToast.js';

export default {
  name: 'ClientForm',
  components: {
    'ui-button': UIButton,
    'ui-checkbox': UICheckbox
  },
  emits: ['cancel', 'submit', 'delete'],
  props: {
    providers: {
      type: Array,
      default: () => []
    },
    createProviderFn: {
      type: Function
    },
    editingClient: {
      type: Boolean,
      default: false
    },
    clientToEdit: {
      type: Object,
      default: () => {}
    },
    editProviderFn: {
      type: Function
    },
    deleteProviderFn: {
      type: Function
    },
  },
  setup(props, { emit }) {
    
    const formData = reactive({
      name: '',
      email: '',
      phone: ''
    });
    const validations = reactive({
      name: '',
      email: '',
      phone: ''
    })

    const validateName = (val) => {
      if(!val) return validations.name = 'Required Field';
      validations.name = '';
    }
    const validateEmail = (val) => {
      const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      const valid =  pattern.test(val);
      if (!val) return validations.email = 'Required Field';
      if (!valid) return validations.email = 'Invalid Email';
      validations.email = '';
    }
    const validatePhoneLength = (val) => {
      if (val.length !== 9) return validations.phone = 'Must be 9 characteres long';
      validations.phone = '';
    }

    watch(() => formData.name, val => validateName(val));
    watch(() => formData.email, val => validateEmail(val));
    watch(() => formData.phone, val => validatePhoneLength(val));

    const clientProviders = ref([]);
    const addClientSelectedProviderFn = id => clientProviders.value.push(id);
    const removeClientSelectedProviderFn = id => clientProviders.value = [...clientProviders.value.filter(el => el !== id)];

    const providerName = ref('');
    const onCreateProviderFn = async () => {
      if (!providerName.value) return;
      props.createProviderFn(providerName.value);
      providerName.value = '';
    } 

    const submitFn = () => {
      validateName(formData.name);
      validateEmail(formData.email);
      validatePhoneLength(formData.phone);
      const { name, email, phone } = validations;
      const isValidForm = (!name && !email && !phone);
      if (!isValidForm) {
        setToastStatus(true, 'error', 'Must include valid data');
        return;
      }
      const data = {
        name: formData.name,
        email: formData.email,
        phone: formData.phone,
        providers: clientProviders.value
      };
      emit('submit', data);
    }

    const editingProviderOnIndex = ref(null);
    const providerNewName = ref('');
    const renameProviderFn = async (id) => {
      if (providerNewName.value) {
        setToastStatus(true, 'error', 'Must include new provider name');
        return;
      }
      await props.editProviderFn(id, providerNewName.value);
      editingProviderOnIndex.value = null;
      providerNewName.value = '';
    }

    onMounted(() => {
      if (props.editingClient) {
        // eslint-disable-next-line vue/no-setup-props-destructure
        formData.name = props.clientToEdit.name;
        formData.email = props.clientToEdit.email;
        formData.phone = props.clientToEdit.phone;
        clientProviders.value = props.clientToEdit.providers.map(el => el._id);
      }
    });

    return {
      formData,
      validations,
      submitFn,
      clientProviders,
      addClientSelectedProviderFn,
      removeClientSelectedProviderFn,
      onCreateProviderFn,
      providerName,
      editingProviderOnIndex,
      providerNewName,
      renameProviderFn
    }
  }
}
</script>
<style scoped>
form {
  min-width: 800px;
}
.form-row {
  @apply flex space-x-2 items-center my-5 relative;
}
.label {
  min-width: 100px;
  @apply font-bold text-right;
}
.input {
  @apply flex-grow ring-gray-300 focus:ring-blue-400 ring-2 rounded-md px-2 py-1;
}
.error-message {
  @apply absolute right-1 text-xs bg-red-500 bg-opacity-80 text-white py-1 px-2 rounded-md;
}
</style>