<template>
  <div :class="{
    'px-3 py-1 bg-gradient-to-b from-gray-50 to-gray-100 shadow-sm hover:shadow-md rounded-md border border-gray-600 cursor-pointer transition-all select-none': true,
    'from-gray-50 to-gray-100 hover:from-gray-100 hover:to-gray-200': color === 'neutral',
    'from-red-400 to-red-600 hover:from-red-500 hover:to-red-700 text-white': color === 'error',
    'from-blue-400 to-blue-600 hover:from-blue-500 hover:to-blue-700 text-white': color === 'action'
  }">
    <p> {{ label }} </p>
  </div>
</template>
<script>
export default {
  name: 'UIButton',
  props: {
    label: {
      type: String,
      default: 'Label'
    },
    color: {
      type: String,
      default: 'neutral' // neutral, error, action
    }
  },
  setup() {
    
  },
}
</script>