<template>
  <div class="checkbox border-2 border-gray-400 cursor-pointer flex items-center justify-center" @click="checkHandler">
    <fa-icon :icon="['fa', 'check']" size="sm" class="text-gray-400" v-if="isChecked"></fa-icon>
  </div>
</template>
<script>
import { computed } from 'vue';
export default {
  props: {
    initialValue: {
      type: Boolean,
      default: false
    },
    itemId: {
      type: String,
      default: ''
    },
    selecteds: {
      type: Array,
      default: () => []
    }
  },
  emits: ['add', 'remove'],
  setup(props, { emit }) {
    const isChecked = computed(() => props.selecteds.includes(props.itemId));
    const checkHandler = () => {
      if (isChecked.value) emit('remove');
      else emit('add');
    }

    return {
      isChecked,
      checkHandler
    }
  }
}
</script>
<style scoped>
.checkbox {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  margin-right: 6px;
}
</style>