<template>
  <div class="bg-gray-900 bg-opacity-60 absolute inset-0 z-20">
    <transition name="delayed-slide" appear>
        <div
          class="bg-white absolute z-30 shadow-lg lg:rounded-md confirmation-position"
        >
          <div
            class="absolute shadow-md top-2 right-1 z-20 rounded-xl h-10 w-10 flex justify-center items-center text-gray-400 cursor-pointer border-2 bg-white border-gray-100"
            @click="$emit('cancel')"
          >
            <fa-icon :icon="['fa', 'times']" size="lg"></fa-icon>
          </div>
          <p class="p-4 border-b border-gray-400 text-lg text-blue-500 font-bold">Confirmation</p>
          <div class="px-4 pt-4 text-center">
            <p>Are you sure you want to {{actionLabel}}?</p>
          </div>
          <div class="flex space-x-2 justify-center p-4">
            <ui-button label="Cancel" @click="$emit('cancel')" />
            <ui-button label="I'm sure" @click="callbackHandler" color="action" />
          </div>
        </div>
      </transition>
  </div>
</template>
<script>
import UIBUtton from "../../components/UI/UIButton.vue";
export default {
  components: {
    'ui-button': UIBUtton
  },
  props: {
    actionLabel: {
      type: String,
      default: 'to do something'
    },
    callbackFn: {
      type: Function
    },
    params: {
      type: Object,
      default: () => {}
    }
  },
  emits: ['cancel'],
  setup(props) {
    const callbackHandler = () => {
      const { payload } = props.params;
      if (payload !== undefined) props.callbackFn(payload);
      else props.callbackFn();
    }
    return {
      callbackHandler
    }
  }
}
</script>
<style scoped>
.confirmation-position {
  width: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
}
</style>