<template>
  <transition name="fade" appear>
    <div
      class="bg-gray-900 bg-opacity-60 absolute inset-0 z-20"
      v-if="modalState"
    >
      <transition name="delayed-slide" appear>
        <div
          class="bg-white absolute top-0 lg:top-6 left-0 lg:left-5 right-0 lg:right-5 z-30 shadow-lg lg:rounded-md modal-height"
          v-if="modalState"
        >
          <div
            class="absolute shadow-md top-2.5 right-1 z-20 rounded-xl h-10 w-10 flex justify-center items-center text-gray-400 cursor-pointer border-2 bg-white border-gray-100"
            @click="$emit('update:modalState', false)"
          >
            <fa-icon :icon="['fa', 'times']" size="lg"></fa-icon>
          </div>
          <div class="absolute flex flex-col w-full overflow-scroll">
            <slot></slot>
          </div>
        </div>
      </transition>
    </div>
  </transition>
</template>
<script lang="ts">
import { defineComponent } from 'vue';


export default defineComponent({
  name: 'Modal',
  props: {
    modalState: {
      type: Boolean,
      default: true
    }
  },
  emits: ['update:modalState']
});
</script>

<style scoped>
.modal-height {
  height: 100vh;
  overflow-y: scroll;
}
@media (min-width: 1024px) {
  .modal-height {
    height: calc(100vh - 40px);
  }
}
.delayed-slide-enter-active {
  transition: transform 0.3s ease-in-out;
}
.delayed-slide-leave-active {
  transition: transform 0.3s ease-in, opacity 0.3s 0.2s ease-in-out;
}
.delayed-slide-enter-from {
  transform: translate(0%, 30%);
}
.delayed-slide-leave-to {
  transform: translate(0%, 30%);
  opacity: 0;
}
@media only screen and (max-width: 640px) {
  .delayed-slide-enter-active {
    transition: transform 0.3s ease-out;
  }
  .delayed-slide-leave-active {
    transition: transform 0.3s ease-in, opacity 0.3s 0.2s ease-in-out;
  }
  .delayed-slide-enter-from {
    transform: translateY(70%);
  }
  .delayed-slide-leave-from {
    transform: translateY(0);
    opacity: 1;
  }
  .delayed-slide-leave-to {
    transform: translateY(70%);
    opacity: 0;
  }
}
</style>
