<template>
  <table class="w-full">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Providers</th>
      <th class="w-64">Actions</th>
    </tr>
    <template v-if="items.length === 0">
      <tr>
        <td colspan="5" class="py-5">
          <p class="text-center text-gray-300">
            No Clients Registered
          </p>
        </td>
      </tr>
    </template>
    <template v-else>
      <tr v-for="client in items" :key="client._id">
        <td class="flex-1">
          {{ client.name }}
        </td>
        <td class="flex-1">
          {{ client.email }}
        </td>
        <td class="flex-1">
          {{ phoneFormateer(client.phone) }}
        </td>
        <td class="flex-1">
          {{ providersFormateer(client.providers )}}
        </td>
        <td class="w-64">
          <div class="flex space-x-2">
            <p class="action-btn action-btn-std" @click="$emit('edit', client)">Edit</p>
            <p class="action-btn action-btn-danger" @click="$emit('delete', client._id)">Delete</p>
          </div>
        </td>
      </tr>
    </template>
  </table>
</template>
<script>
export default {
  name: 'UITable',
  props: {
    items: {
      type: Array,
      default: () => []
    }
  },
  emits: ['edit', 'delete'],
  setup() {
    const phoneFormateer = (phone) => {
      if (phone) {
        let phoneFormated = [];
        phone.split('').forEach((el, i) => {
          phoneFormated.push(el);
          if (i === 2 || i === 5) {
            phoneFormated.push('-');
          }
        })
        return phoneFormated.join('');
      }
    }
    const providersFormateer = (providers) => {
      return providers.map(el => el.name).join(', ');
    }
    return {
      phoneFormateer,
      providersFormateer
    }
  },
}
</script>
<style scoped>
  th {
    @apply bg-gradient-to-b from-gray-50 to-gray-200 py-1 px-3 border border-gray-400 text-left shadow-md;
  }
  td {
    @apply py-2 px-3 border border-gray-400 text-left h-full;
  }
  .action-btn {
    @apply border border-gray-400 rounded-md py-1 px-3 cursor-pointer transition-all shadow-sm select-none;
  }
  .action-btn-std {
    @apply bg-gray-100 hover:bg-gray-300;
  }
  .action-btn-danger {
    @apply bg-red-500 hover:bg-red-700 text-white;
  }
</style>